#IDEs
.bsp
.DS_Store
.idea
.metals
.scala-build
.vscode
.vscode/

# Tyrian
frontend/target/
frontend/project/target/
frontend/project/project/target/
frontend/dist/*
frontend/dist/
frontend/.parcel-cache/
frontend/node_modules
