#IDEs
.bsp
.DS_Store
.idea
.metals
.scala-build
.vscode
.vscode/

#devbox
devbox.lock

#mill
mill
out

# Tyrian
frontend/target/
frontend/project/target/
frontend/project/project/target/
frontend/dist/*
frontend/dist/
frontend/.parcel-cache/
frontend/node_modules
frontend/yarn.lock

# Cask
backend/out
backend/mill